In [1]:
#imports
import numpy as np
import pandas as pd
import os
import glob
import datetime

In [2]:
# print switch
switch  =  True

In [3]:
# Get files and filepaths
directory = '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/'

covid_case_files = list(glob.glob(os.path.join(directory,'*.*')))
covid_case_files.sort()

In [4]:
######
covid_case_files

['/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/PRM-EST2020.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/US_fips_codes.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/american-samoa-phc-table01.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/co-est2021-alldata.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/commonwealth-northern-mariana-islands-phc-table01.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/guam-phc-table01.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/island_populations.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/state_abbr.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-counties-2020.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-counties-2021.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-counties-2022.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-counties-2023.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-states.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us-virgin-islands-phc-table01.csv',
 '/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/us.csv']

In [5]:
# download all 4 csv files and append to DF
all_counties_df = pd.DataFrame(columns=['date','state','county','fips','cases','deaths'])

for file in covid_case_files[8:12]:
    all_counties_df = pd.concat([all_counties_df, pd.read_csv(file, parse_dates=['date'])], ignore_index=True)

len(all_counties_df)

3525161

In [6]:
######
all_counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525161 entries, 0 to 3525160
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    object
 1   state   object
 2   county  object
 3   fips    object
 4   cases   object
 5   deaths  object
dtypes: object(6)
memory usage: 161.4+ MB

In [7]:
#####
#  all_counties_df = all_counties_df.astype(columns_and_types)
all_counties_df.head()

                  date       state     county     fips cases deaths
0  2020-01-21 00:00:00  Washington  Snohomish  53061.0     1    0.0
1  2020-01-22 00:00:00  Washington  Snohomish  53061.0     1    0.0
2  2020-01-23 00:00:00  Washington  Snohomish  53061.0     1    0.0
3  2020-01-24 00:00:00    Illinois       Cook  17031.0     1    0.0
4  2020-01-24 00:00:00  Washington  Snohomish  53061.0     1    0.0

In [8]:
#######
# all_counties_df.fips = '0' + all_counties_df.fips
# all_counties_df.head()

In [9]:
# convert cases to numeric
all_counties_df.cases = pd.to_numeric(all_counties_df.cases)

In [10]:
######
all_counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525161 entries, 0 to 3525160
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    object
 1   state   object
 2   county  object
 3   fips    object
 4   cases   int64
 5   deaths  object
dtypes: int64(1), object(5)
memory usage: 161.4+ MB

In [11]:
# get unique values from county and state columns
null_counties = all_counties_df.county.loc[all_counties_df.fips.isnull()].unique()

null_states = all_counties_df.state.loc[all_counties_df.fips.isnull()].unique()

print(null_counties,'',null_states, sep='\n')

['New York City' 'Unknown' 'Kansas City' 'Joplin']

['New York' 'Rhode Island' 'New Jersey' 'Puerto Rico' 'Virgin Islands'
 'Guam' 'Maine' 'Massachusetts' 'Louisiana' 'Kentucky' 'Nevada'
 'Tennessee' 'Arkansas' 'Georgia' 'Missouri' 'Minnesota' 'California'
 'Colorado' 'Florida' 'Hawaii' 'Illinois' 'Vermont' 'Arizona' 'Michigan'
 'Texas' 'Virginia' 'Washington' 'Utah' 'Idaho' 'Mississippi'
 'Northern Mariana Islands' 'Connecticut' 'Nebraska' 'Montana'
 'Pennsylvania' 'Indiana' 'Iowa' 'Maryland' 'Oklahoma' 'West Virginia'
 'Alaska' 'New Mexico' 'New Hampshire' 'South Dakota' 'Kansas' 'Wyoming'
 'Delaware' 'North Dakota' 'Ohio' 'Wisconsin' 'South Carolina' 'Oregon'
 'North Carolina' 'American Samoa' 'Alabama']

In [12]:
# view nulls in all_counties
all_counties_df.loc[all_counties_df.fips.isnull()][1000:1060]

,date,state,county,fips,cases,deaths
78132,2020-04-21 00:00:00,Utah,Unknown,NaN,0,2.0
78148,2020-04-21 00:00:00,Vermont,Unknown,NaN,3,0.0
78155,2020-04-21 00:00:00,Virgin Islands,Unknown,NaN,0,3.0
78547,2020-04-22 00:00:00,Arizona,Unknown,NaN,0,5.0
78616,2020-04-22 00:00:00,Arkansas,Unknown,NaN,113,0.0
78728,2020-04-22 00:00:00,Colorado,Unknown,NaN,95,0.0
78739,2020-04-22 00:00:00,Connecticut,Unknown,NaN,550,7.0
78744,2020-04-22 00:00:00,Delaware,Unknown,NaN,28,0.0
78809,2020-04-22 00:00:00,Florida,Unknown,NaN,0,34.0
78956,2020-04-22 00:00:00,Georgia,Unknown,NaN,576,0.0
78972,2020-04-22 00:00:00,Guam,Unknown,NaN,911,6.0
79094,2020-04-22 00:00:00,Illinois,Unknown,NaN,228,1.0
79272,2020-04-22 00:00:00,Iowa,Unknown,NaN,0,2.0
79456,2020-04-22 00:00:00,Kentucky,Unknown,NaN,36,0.0
79519,2020-04-22 00:00:00,Louisiana,Unknown,NaN,119,60.0
79541,2020-04-22 00:00:00,Maine,Unknown,NaN,2,0.0
79566,2020-04-22 00:00:00,Maryland,Unknown,NaN,8,102.0
79583,2020-04-22 00:00:00,Massachusetts,Unknown,NaN,854,9.0
79734,2020-04-22 00:00:00,Minnesota,Unknown,NaN,4,0.0
79869,2020-04-22 00:00:00,Missouri,Kansas City,NaN,448,13.0
79916,2020-04-22 00:00:00,Missouri,Unknown,NaN,3,0.0
80001,2020-04-22 00:00:00,Nebraska,Unknown,NaN,10,0.0
80016,2020-04-22 00:00:00,Nevada,Unknown,NaN,9,11.0
80029,2020-04-22 00:00:00,New Hampshire,Unknown,NaN,17,1.0
80050,2020-04-22 00:00:00,New Jersey,Unknown,NaN,1045,2.0
80107,2020-04-22 00:00:00,New York,New York City,NaN,146787,14959.0
80263,2020-04-22 00:00:00,Northern Mariana Islands,Unknown,NaN,14,2.0
80518,2020-04-22 00:00:00,Puerto Rico,Unknown,NaN,915,46.0
80523,2020-04-22 00:00:00,Rhode Island,Unknown,NaN,1341,161.0
80924,2020-04-22 00:00:00,Utah,Unknown,NaN,0,2.0
80940,2020-04-22 00:00:00,Vermont,Unknown,NaN,3,0.0
80947,2020-04-22 00:00:00,Virgin Islands,Unknown,NaN,0,3.0
81340,2020-04-23 00:00:00,Arizona,Unknown,NaN,0,5.0
81410,2020-04-23 00:00:00,Arkansas,Unknown,NaN,127,0.0
81522,2020-04-23 00:00:00,Colorado,Unknown,NaN,108,0.0
81533,2020-04-23 00:00:00,Connecticut,Unknown,NaN,522,6.0
81538,2020-04-23 00:00:00,Delaware,Unknown,NaN,3,0.0
81749,2020-04-23 00:00:00,Georgia,Unknown,NaN,361,0.0
81765,2020-04-23 00:00:00,Guam,Unknown,NaN,979,6.0
81887,2020-04-23 00:00:00,Illinois,Unknown,NaN,192,0.0
82315,2020-04-23 00:00:00,Louisiana,Unknown,NaN,121,59.0
82361,2020-04-23 00:00:00,Maryland,Unknown,NaN,5,102.0
82378,2020-04-23 00:00:00,Massachusetts,Unknown,NaN,737,10.0
82455,2020-04-23 00:00:00,Michigan,Unknown,NaN,71,2.0
82530,2020-04-23 00:00:00,Minnesota,Unknown,NaN,3,0.0
82665,2020-04-23 00:00:00,Missouri,Kansas City,NaN,461,14.0
82712,2020-04-23 00:00:00,Missouri,Unknown,NaN,2,0.0
82799,2020-04-23 00:00:00,Nebraska,Unknown,NaN,8,1.0
82814,2020-04-23 00:00:00,Nevada,Unknown,NaN,1,5.0
82827,2020-04-23 00:00:00,New Hampshire,Unknown,NaN,11,1.0
82848,2020-04-23 00:00:00,New Jersey,Unknown,NaN,1108,2.0
82906,2020-04-23 00:00:00,New York,New York City,NaN,150327,15361.0
83062,2020-04-23 00:00:00,Northern Mariana Islands,Unknown,NaN,14,2.0
83317,2020-04-23 00:00:00,Puerto Rico,Unknown,NaN,1230,69.0
83322,2020-04-23 00:00:00,Rhode Island,Unknown,NaN,1756,169.0
83725,2020-04-23 00:00:00,Utah,Unknown,NaN,0,1.0
83741,2020-04-23 00:00:00,Vermont,Unknown,NaN,3,0.0
83748,2020-04-23 00:00:00,Virgin Islands,Unknown,NaN,0,3.0
84210,2020-04-24 00:00:00,Arkansas,Unknown,NaN,182,0.0
84322,2020-04-24 00:00:00,Colorado,Unknown,NaN,103,0.0

In [13]:
# find nulls in deaths (Puerto Rico)
all_counties_df.county.loc[all_counties_df.deaths.isnull()].unique()

array(['Adjuntas', 'Aguada', 'Aguadilla', 'Aguas Buenas', 'Aibonito',
       'Anasco', 'Arecibo', 'Arroyo', 'Barceloneta', 'Barranquitas',
       'Bayamon', 'Cabo Rojo', 'Caguas', 'Camuy', 'Canovanas', 'Carolina',
       'Catano', 'Cayey', 'Ceiba', 'Ciales', 'Cidra', 'Coamo', 'Comerio',
       'Corozal', 'Dorado', 'Fajardo', 'Florida', 'Guanica', 'Guayama',
       'Guayanilla', 'Guaynabo', 'Gurabo', 'Hatillo', 'Hormigueros',
       'Humacao', 'Isabela', 'Jayuya', 'Juana Diaz', 'Juncos', 'Lajas',
       'Lares', 'Las Marias', 'Las Piedras', 'Loiza', 'Luquillo',
       'Manati', 'Maunabo', 'Mayaguez', 'Moca', 'Morovis', 'Naguabo',
       'Naranjito', 'Orocovis', 'Patillas', 'Penuelas', 'Ponce',
       'Quebradillas', 'Rincon', 'Rio Grande', 'Sabana Grande', 'Salinas',
       'San German', 'San Juan', 'San Lorenzo', 'San Sebastian',
       'Santa Isabel', 'Toa Alta', 'Toa Baja', 'Trujillo Alto', 'Utuado',
       'Vega Alta', 'Vega Baja', 'Villalba', 'Yabucoa', 'Yauco',
       'Vieques', 'Maricao', 'Culebra'], dtype=object)

In [14]:
#######
all_counties_df.loc[all_counties_df.deaths.isnull()].state.unique()

array(['Puerto Rico'], dtype=object)

In [15]:
# convert deaths nulls to 0 and convert to int
all_counties_df = all_counties_df.fillna(0).astype({'fips':'int','deaths':'int'})
all_counties_df.isnull().sum()

date      0
state     0
county    0
fips      0
cases     0
deaths    0
dtype: int64

In [16]:
########
all_counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525161 entries, 0 to 3525160
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    datetime64[ns]
 1   state   object
 2   county  object
 3   fips    int64
 4   cases   int64
 5   deaths  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 161.4+ MB

State Id for dimState table

In [17]:
########
# states = list(all_counties_df.state.unique())
# states.sort()
# states = list(states)
# states.insert(0,'Unknown')
# states

In [18]:
#########
# state_id_dict = {k: v for k, v in zip(np.arange(1, len(states), states))}
# state_id_dict = dict(zip(states, np.arange(0,len(states))))
# state_id_dict

In [19]:
######
# counties = list(all_counties_df.county.unique())
# counties.sort()
# counties = list(counties)
# unknown = counties.pop(1771)
# counties.insert(0,unknown)
# counties

In [20]:
#####
# county_id_dict = dict(zip(counties, np.arange(0, len(counties))))

In [21]:
#####
# county_id_dict

In [22]:
# Find counties of islands that have county level data
list_of_island_counties = (all_counties_df.county
                           .loc[all_counties_df.state
                                .isin(['American Samoa',
                                       'Guam',
                                       'Northern Mariana Islands',
                                       'Virgin Islands'])]
                                .unique())
list_of_island_counties

array(['Unknown', 'St. Croix', 'St. John', 'St. Thomas', 'Saipan',
       'Tinian', 'Rota'], dtype=object)

In [23]:
# import fips table
fips_df = (pd.read_csv('/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/US_fips_codes.csv',
                       index_col=[0])
                .rename(columns={"FIPS":'fips','County or equivalent': 'county', 'State or equivalent': 'state'})
                .astype({'fips':'str'}))
#fips_df.info()

fips_df.county = fips_df.county.str.replace(r'\[.*?\]', '', regex=True)

In [24]:
# import mainland census table
census_mainland = covid_case_files[3]

df_mainland = (pd.read_csv(census_mainland, 
                          encoding='latin-1',
                          usecols=['STATE','COUNTY','STNAME','CTYNAME','ESTIMATESBASE2020'],
                          dtype={'STATE':'str','COUNTY':'str',})
                          .rename(columns={'STATE':'state_id',
                                           'COUNTY':'county_id',
                                           'STNAME':'state',
                                           'CTYNAME':'county',
                                           'ESTIMATESBASE2020':'base2020'}))

df_mainland['fips'] = (df_mainland.state_id + df_mainland.county_id).astype('int')
df_mainland = df_mainland.drop(columns=['state_id','county_id'])
df_mainland.head()

     state          county  base2020  fips
0  Alabama         Alabama   5024279  1000
1  Alabama  Autauga County     58805  1001
2  Alabama  Baldwin County    231767  1003
3  Alabama  Barbour County     25223  1005
4  Alabama     Bibb County     22293  1007

In [25]:
#########
df_mainland.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3194 entries, 0 to 3193
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     3194 non-null   object
 1   county    3194 non-null   object
 2   base2020  3194 non-null   int64
 3   fips      3194 non-null   int64
dtypes: int64(2), object(2)
memory usage: 99.9+ KB

In [26]:
##########
len(df_mainland.county.unique())

1928

In [27]:
# Index finding tool for .at() and .loc()
def index_finder(df,column,value):
    return df.loc[df[f'{column}'] == value].index[0]

In [28]:
# import Samoa table
df_samoa = (pd.read_csv(covid_case_files[2],
                        encoding='latin-1', 
                        skiprows=3, 
                        header=0, 
                        usecols=['Geographic area','2020'])
            .dropna(axis=1,how='all')
            .dropna(axis=0,how='any')
            .rename(columns={'Geographic area':'county', '2020':'base2020'}))

df_samoa['state'] = 'American Samoa'
df_samoa = df_samoa.reindex(columns=['state', 'county', 'base2020'])

df_samoa.at[16,'county'] = "Swain's Island"
df_samoa.at[15,'county'] = 'Rose Atoll (Rose Island)'

#df_samoa = df_samoa.reindex(columns=['county', '2020'])
df_samoa

             state                    county base2020
1   American Samoa            American Samoa   49,710
3   American Samoa          Eastern District   17,059
4   American Samoa              Ituau county    3,431
5   American Samoa         Ma'oputasi county    8,568
6   American Samoa             Sa'ole county    1,158
7   American Samoa                Sua county    2,415
8   American Samoa           Vaifanua county    1,487
9   American Samoa           Manu'a District      832
10  American Samoa           Faleasao county      104
11  American Samoa            Fitiuta county      213
12  American Samoa                Ofu county      132
13  American Samoa            Olosega county      147
14  American Samoa               Ta'u county      236
15  American Samoa  Rose Atoll (Rose Island)        0
16  American Samoa            Swain's Island        0
17  American Samoa          Western District   31,819
18  American Samoa          Lealataua county    4,293
19  American Samoa            Leasina county    1,689
20  American Samoa           Tualatai county    3,010
21  American Samoa           Tualauta county   22,827

In [29]:
#######
# index_finder(df_samoa,'county', "Swain's Island")

df_samoa.at[index_finder(df_samoa,'county',"American Samoa"), 'base2020']

'49,710'

In [30]:
#######
fips_df.query('state == "American Samoa"')

      fips                    county           state
97   60010          Eastern District  American Samoa
98   60020           Manu'a District  American Samoa
99   60030  Rose Atoll (Rose Island)  American Samoa
100  60040            Swain's Island  American Samoa
101  60050          Western District  American Samoa

In [31]:
# merge Samoa and Fips
df_samoa = pd.merge(left=df_samoa, right=fips_df[['county', 'fips']], on='county', how='left')
print(len(df_samoa))


df_samoa.at[index_finder(df_samoa,'county',"American Samoa"), 'fips'] = 60000
df_samoa

20

             state                    county base2020   fips
0   American Samoa            American Samoa   49,710  60000
1   American Samoa          Eastern District   17,059  60010
2   American Samoa              Ituau county    3,431    NaN
3   American Samoa         Ma'oputasi county    8,568    NaN
4   American Samoa             Sa'ole county    1,158    NaN
5   American Samoa                Sua county    2,415    NaN
6   American Samoa           Vaifanua county    1,487    NaN
7   American Samoa           Manu'a District      832  60020
8   American Samoa           Faleasao county      104    NaN
9   American Samoa            Fitiuta county      213    NaN
10  American Samoa                Ofu county      132    NaN
11  American Samoa            Olosega county      147    NaN
12  American Samoa               Ta'u county      236    NaN
13  American Samoa  Rose Atoll (Rose Island)        0  60030
14  American Samoa            Swain's Island        0  60040
15  American Samoa          Western District   31,819  60050
16  American Samoa          Lealataua county    4,293    NaN
17  American Samoa            Leasina county    1,689    NaN
18  American Samoa           Tualatai county    3,010    NaN
19  American Samoa           Tualauta county   22,827    NaN

In [32]:
# Import Guam table
df_guam = (pd.read_csv(covid_case_files[5],
                       encoding='latin-1', 
                       skiprows=3, 
                       header=0, 
                       usecols=['Geographic area', '2020'])
           .dropna(axis=0,how='all')
           .dropna(axis=0,how='any')
           .rename(columns={'Geographic area':'county','2020':'base2020'}))

df_guam = df_guam.loc[df_guam['county'] != 'County subdivision not defined']
df_guam['state'] = 'Guam'
df_guam

                              county base2020 state
1                               Guam  153,836  Guam
3         Agana Heights municipality    3,673  Guam
4                  Agat municipality    4,515  Guam
5                  Asan municipality    2,011  Guam
6             Barrigada municipality    7,956  Guam
7     Chalan Pago-Ordot municipality    7,064  Guam
8                Dededo municipality   44,908  Guam
9             HagÃ¥tÃ±a municipality      943  Guam
10             Inarajan municipality    2,317  Guam
11             Mangilao municipality   13,476  Guam
12               Merizo municipality    1,604  Guam
13  Mongmong-Toto-Maite municipality    6,380  Guam
14                 Piti municipality    1,585  Guam
15           Santa Rita municipality    6,470  Guam
16             Sinajana municipality    2,611  Guam
17             Talofofo municipality    3,550  Guam
18             Tamuning municipality   18,489  Guam
19               Umatac municipality      647  Guam
20                 Yigo municipality   19,339  Guam
21                 Yona municipality    6,298  Guam

In [33]:
######
fips_df.query('state == "Guam"')

      fips county state
552  66010   Guam  Guam

In [34]:
# merge Guam and Fips
df_guam = pd.merge(left=df_guam, right=fips_df[['county', 'fips']], on='county', how='left')
print(len(df_guam))

df_guam

20

                              county base2020 state   fips
0                               Guam  153,836  Guam  66010
1         Agana Heights municipality    3,673  Guam    NaN
2                  Agat municipality    4,515  Guam    NaN
3                  Asan municipality    2,011  Guam    NaN
4             Barrigada municipality    7,956  Guam    NaN
5     Chalan Pago-Ordot municipality    7,064  Guam    NaN
6                Dededo municipality   44,908  Guam    NaN
7             HagÃ¥tÃ±a municipality      943  Guam    NaN
8              Inarajan municipality    2,317  Guam    NaN
9              Mangilao municipality   13,476  Guam    NaN
10               Merizo municipality    1,604  Guam    NaN
11  Mongmong-Toto-Maite municipality    6,380  Guam    NaN
12                 Piti municipality    1,585  Guam    NaN
13           Santa Rita municipality    6,470  Guam    NaN
14             Sinajana municipality    2,611  Guam    NaN
15             Talofofo municipality    3,550  Guam    NaN
16             Tamuning municipality   18,489  Guam    NaN
17               Umatac municipality      647  Guam    NaN
18                 Yigo municipality   19,339  Guam    NaN
19                 Yona municipality    6,298  Guam    NaN

In [35]:
# Import PR (already include fips data)
df_pr = (pd.read_csv(covid_case_files[0],
                    encoding='latin-1',
                    usecols=['STATE','COUNTY','STNAME','CNTYNAME','POPESTIMATE2020'],
                    dtype={'STATE':'str','COUNTY':'str',})
                    .rename(columns={'STATE':'state_id','COUNTY':'county_id','STNAME':'state','CNTYNAME':'county','POPESTIMATE2020':'base2020'}))

df_pr['fips'] = (df_pr.state_id + df_pr.county_id).astype('int')
df_pr = df_pr.drop(columns=['state_id','county_id'])

df_pr.head()

         state                  county  base2020   fips
0  Puerto Rico             Puerto Rico   3159343  72000
1  Puerto Rico      Adjuntas Municipio     17213  72001
2  Puerto Rico        Aguada Municipio     36343  72003
3  Puerto Rico     Aguadilla Municipio     49632  72005
4  Puerto Rico  Aguas Buenas Municipio     24598  72007

In [37]:
# Import VI
df_vi = (pd.read_csv(covid_case_files[13],
                     encoding='latin-1',
                     skiprows=3,
                     header=0,
                     usecols=['Geographic area','2020'])
         .dropna(axis=1, how='all')
         .dropna(axis=0, how='any')
         .rename(columns={'Geographic area':'county','2020':'base2020'}))

df_vi = df_vi.loc[df_vi['county'] != 'Island subdivision not defined']
df_vi['state'] = 'Virgin Islands'
df_vi.county = df_vi.county.str.replace(r'St\.', 'Saint', regex=True)
df_vi

                             county base2020           state
1      United States Virgin Islands   87,146  Virgin Islands
4                Saint Croix Island   41,004  Virgin Islands
5   Anna's Hope Village subdistrict    3,282  Virgin Islands
6         Christiansted subdistrict    1,866  Virgin Islands
7              East End subdistrict    2,336  Virgin Islands
8          Frederiksted subdistrict    2,303  Virgin Islands
9          Northcentral subdistrict    4,197  Virgin Islands
10            Northwest subdistrict    3,431  Virgin Islands
11            Sion Farm subdistrict   10,332  Virgin Islands
12         Southcentral subdistrict    7,415  Virgin Islands
13            Southwest subdistrict    5,842  Virgin Islands
15                Saint John Island    3,881  Virgin Islands
16              Central subdistrict      470  Virgin Islands
17            Coral Bay subdistrict      724  Virgin Islands
18             Cruz Bay subdistrict    2,652  Virgin Islands
19             East End subdistrict       35  Virgin Islands
21              Saint Thomas Island   42,261  Virgin Islands
22     Charlotte Amalie subdistrict   14,477  Virgin Islands
23             East End subdistrict    7,502  Virgin Islands
24            Northside subdistrict    8,889  Virgin Islands
25            Southside subdistrict    4,112  Virgin Islands
26                 Tutu subdistrict    5,129  Virgin Islands
27         Water Island subdistrict      164  Virgin Islands
28             West End subdistrict    1,988  Virgin Islands
32            Charlotte Amalie town    8,194  Virgin Islands
33        Charlotte Amalie East CDP    1,908  Virgin Islands
34        Charlotte Amalie West CDP    4,404  Virgin Islands
35               Christiansted town    1,770  Virgin Islands
36                    Coral Bay CDP      615  Virgin Islands
37                     Cruz Bay CDP    2,772  Virgin Islands
38                Frederiksted town      528  Virgin Islands
39       Frederiksted Southeast CDP    1,746  Virgin Islands
40                     Red Hook CDP      225  Virgin Islands
41                         Tutu CDP    5,519  Virgin Islands

In [38]:
# merge VI and Fips
df_vi = pd.merge(left=df_vi, right=fips_df[['county', 'fips']], on='county', how='left')
print(len(df_vi))

df_vi.county = df_vi.county.str.replace(r'\bSaint\b', 'St.', regex=True)
df_vi.at[index_finder(df_vi,'county', 'United States Virgin Islands'), 'fips'] = 69000
df_vi.at[index_finder(df_vi,'county', 'United States Virgin Islands'), 'county'] = 'Virgin Islands'

df_vi

34

                             county base2020           state   fips
0                    Virgin Islands   87,146  Virgin Islands  69000
1                  St. Croix Island   41,004  Virgin Islands  78010
2   Anna's Hope Village subdistrict    3,282  Virgin Islands    NaN
3         Christiansted subdistrict    1,866  Virgin Islands    NaN
4              East End subdistrict    2,336  Virgin Islands    NaN
5          Frederiksted subdistrict    2,303  Virgin Islands    NaN
6          Northcentral subdistrict    4,197  Virgin Islands    NaN
7             Northwest subdistrict    3,431  Virgin Islands    NaN
8             Sion Farm subdistrict   10,332  Virgin Islands    NaN
9          Southcentral subdistrict    7,415  Virgin Islands    NaN
10            Southwest subdistrict    5,842  Virgin Islands    NaN
11                  St. John Island    3,881  Virgin Islands  78020
12              Central subdistrict      470  Virgin Islands    NaN
13            Coral Bay subdistrict      724  Virgin Islands    NaN
14             Cruz Bay subdistrict    2,652  Virgin Islands    NaN
15             East End subdistrict       35  Virgin Islands    NaN
16                St. Thomas Island   42,261  Virgin Islands  78030
17     Charlotte Amalie subdistrict   14,477  Virgin Islands    NaN
18             East End subdistrict    7,502  Virgin Islands    NaN
19            Northside subdistrict    8,889  Virgin Islands    NaN
20            Southside subdistrict    4,112  Virgin Islands    NaN
21                 Tutu subdistrict    5,129  Virgin Islands    NaN
22         Water Island subdistrict      164  Virgin Islands    NaN
23             West End subdistrict    1,988  Virgin Islands    NaN
24            Charlotte Amalie town    8,194  Virgin Islands    NaN
25        Charlotte Amalie East CDP    1,908  Virgin Islands    NaN
26        Charlotte Amalie West CDP    4,404  Virgin Islands    NaN
27               Christiansted town    1,770  Virgin Islands    NaN
28                    Coral Bay CDP      615  Virgin Islands    NaN
29                     Cruz Bay CDP    2,772  Virgin Islands    NaN
30                Frederiksted town      528  Virgin Islands    NaN
31       Frederiksted Southeast CDP    1,746  Virgin Islands    NaN
32                     Red Hook CDP      225  Virgin Islands    NaN
33                         Tutu CDP    5,519  Virgin Islands    NaN

In [39]:
# Import Marianas table
df_marianas = (pd.read_csv(covid_case_files[4],
                           encoding='latin-1',
                           skiprows=4,
                           header=0,
                           usecols=['Geographic area', '2020'])
               .dropna(axis=1,how='all')
               .dropna(axis=0,how='any')
               .rename(columns={'Geographic area':'county', '2020':'base2020'}))

df_marianas = df_marianas.loc[df_marianas['county'] != 'Municipality subdivision not defined']

df_marianas['state'] = 'Northern Mariana Islands'
df_marianas

,county,base2020,state
1,Commonwealth of the Northern Mariana Islands,"47,329",Northern Mariana Islands
3,Northern Islands Municipality,7,Northern Mariana Islands
4,District 4,7,Northern Mariana Islands
6,Rota Municipality,"1,893",Northern Mariana Islands
7,District 7,"1,893",Northern Mariana Islands
9,Saipan Municipality,"43,385",Northern Mariana Islands
10,District 1,"13,633",Northern Mariana Islands
11,District 2,"5,489",Northern Mariana Islands
12,District 3,"14,115",Northern Mariana Islands
13,District 4,"3,416",Northern Mariana Islands
14,District 5,"6,732",Northern Mariana Islands
16,Tinian Municipality,"2,044",Northern Mariana Islands
17,District 6,"2,044",Northern Mariana Islands

In [40]:
# merge marianas and fips
df_marianas = pd.merge(left=df_marianas, right=fips_df[['county', 'fips']], on='county', how='left')
print(len(df_marianas))

df_marianas.at[index_finder(df_marianas,'county', 'Commonwealth of the Northern Mariana Islands'), 'county'] = 'Northern Mariana Islands'
df_marianas.at[index_finder(df_marianas,'county', 'Northern Mariana Islands'), 'fips'] = 69000

df_marianas

13

                           county base2020                     state   fips
0        Northern Mariana Islands   47,329  Northern Mariana Islands  69000
1   Northern Islands Municipality        7  Northern Mariana Islands  69085
2                      District 4        7  Northern Mariana Islands    NaN
3               Rota Municipality    1,893  Northern Mariana Islands  69100
4                      District 7    1,893  Northern Mariana Islands    NaN
5             Saipan Municipality   43,385  Northern Mariana Islands  69110
6                      District 1   13,633  Northern Mariana Islands    NaN
7                      District 2    5,489  Northern Mariana Islands    NaN
8                      District 3   14,115  Northern Mariana Islands    NaN
9                      District 4    3,416  Northern Mariana Islands    NaN
10                     District 5    6,732  Northern Mariana Islands    NaN
11            Tinian Municipality    2,044  Northern Mariana Islands  69120
12                     District 6    2,044  Northern Mariana Islands    NaN

In [41]:
# build full fips table with concat
full_fips_df = pd.concat([df_mainland,df_pr,df_samoa,df_guam,df_vi,df_marianas], ignore_index=True)

# df_islands.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/covidCSV/island_populations.csv')

# df_island_states = (df_islands.loc[df_islands['region']
#                              .isin(['American Samoa',
#                                     'United States Virgin Islands', 
#                                     'Commonwealth of the Northern Mariana Islands', 'Guam'])])

# df_island_states = (df_island_states[['county','base2020']]
                    

# df_island_states.base2020 = (df_island_states.base2020.replace(',','',regex=True)
#                              .astype('int'))

# df_island_states.iat[2,0] = 'Virgin Islands'
# df_island_states.iat[3,0] = 'Northern Mariana Islands'

full_fips_df.base2020 = full_fips_df.base2020.replace(',','', regex=True)
full_fips_df = (full_fips_df.dropna(axis=0, how='any')
                .astype({'base2020':'int','fips':'int'}))
full_fips_df

                         state                         county  base2020   fips
0                      Alabama                        Alabama   5024279   1000
1                      Alabama                 Autauga County     58805   1001
2                      Alabama                 Baldwin County    231767   1003
3                      Alabama                 Barbour County     25223   1005
4                      Alabama                    Bibb County     22293   1007
...                        ...                            ...       ...    ...
3347  Northern Mariana Islands       Northern Mariana Islands     47329  69000
3348  Northern Mariana Islands  Northern Islands Municipality         7  69085
3350  Northern Mariana Islands              Rota Municipality      1893  69100
3352  Northern Mariana Islands            Saipan Municipality     43385  69110
3358  Northern Mariana Islands            Tinian Municipality      2044  69120

[3289 rows x 4 columns]

In [42]:
######
full_fips_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3289 entries, 0 to 3358
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     3289 non-null   object
 1   county    3289 non-null   object
 2   base2020  3289 non-null   int64
 3   fips      3289 non-null   int64
dtypes: int64(2), object(2)
memory usage: 128.5+ KB

In [43]:
#####
full_fips_df.query('fips == 51000')

         state    county  base2020   fips
2867  Virginia  Virginia   8631393  51000

In [44]:
# function to aggregate county populations to match NYT data
def aggregate_populations(list_of_states,list_of_counties):
    return (full_fips_df.loc[(full_fips_df.state.isin(list_of_states)) & 
                             (full_fips_df.county.isin(list_of_counties))]
                             .base2020.sum())

# find population of given state
def get_state_population(state):
    population_row =full_fips_df.loc[full_fips_df.state == state, 'base2020']
    return population_row[population_row.index[0]]

In [45]:
# # Fixing specific data points (New strategy)

specific_case_tuples = [
                        ('Missouri', 'Joplin Area', 0, 37592),
                        ('Missouri', 'Kansas City Area', 0, 3800)
                        ]
                    #   ('Guam','Unknown', get_state_population('Guam')),
                    #   ('American Samoa', 'Unknown', get_state_population('American Samoa')),
                    #   ('Unknown', 'Unknown', 0)]


# # aggregate regions

county_aggs = {'New_York_City_counties':['New York County', 'Kings County', 'Queens County', 'Bronx County', 'Richmond County'],
               'Valdez_Cordova_counties':['Copper River Census Area','Chugach Census Area'],
               'Bristol_Bay_and_Lake_counties':['Bristol Bay Borough','Lake and Peninsula Borough'],
               'Yakutat':['Yakutat City and Borough','Hoonah-Angoon Census Area']
               }

specific_case_tuples.extend([('New York','New York City',0, 51000),
                      ('Alaska','Valdez-Cordova Census Area', aggregate_populations(['Alaska'],county_aggs['Valdez_Cordova_counties']), 2261),
                      #('Alaska','Valdez-Cordova Census Area', 0, 2261),
                      ('Alaska', 'Bristol Bay plus Lake and Peninsula', 0, 2997),
                      ('Alaska', 'Yakutat plus Hoonah-Angoon', 0,2998)
                      ])

specific_case_tuples = pd.DataFrame(specific_case_tuples,columns=['state','county','base2020','fips'])
print(specific_case_tuples.info())

full_fips_df = pd.concat([full_fips_df,specific_case_tuples], ignore_index=True)

full_fips_df.tail(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     6 non-null      object
 1   county    6 non-null      object
 2   base2020  6 non-null      int64
 3   fips      6 non-null      int64
dtypes: int64(2), object(2)
memory usage: 320.0+ bytes
None

,state,county,base2020,fips
3275,American Samoa,Manu'a District,832,60020
3276,American Samoa,Rose Atoll (Rose Island),0,60030
3277,American Samoa,Swain's Island,0,60040
3278,American Samoa,Western District,31819,60050
3279,Guam,Guam,153836,66010
3280,Virgin Islands,Virgin Islands,87146,69000
3281,Virgin Islands,St. Croix Island,41004,78010
3282,Virgin Islands,St. John Island,3881,78020
3283,Virgin Islands,St. Thomas Island,42261,78030
3284,Northern Mariana Islands,Northern Mariana Islands,47329,69000
3285,Northern Mariana Islands,Northern Islands Municipality,7,69085
3286,Northern Mariana Islands,Rota Municipality,1893,69100
3287,Northern Mariana Islands,Saipan Municipality,43385,69110
3288,Northern Mariana Islands,Tinian Municipality,2044,69120
3289,Missouri,Joplin Area,0,37592
3290,Missouri,Kansas City Area,0,3800
3291,New York,New York City,0,51000
3292,Alaska,Valdez-Cordova Census Area,9719,2261
3293,Alaska,Bristol Bay plus Lake and Peninsula,0,2997
3294,Alaska,Yakutat plus Hoonah-Angoon,0,2998

In [46]:
# separate states from counties for states table
state_pop_df = full_fips_df.query('county == state').copy()
# state_pop_df['state_id'] = state_pop_df.state.apply(lambda x: state_id_dict[x])
# state_pop_df['fips'] = state_pop_df.state.apply(lambda x: state_fips[x])
# state_popdf = state_pop_df.drop_duplicates(keep='first').reset_index(drop=True)
state_pop_df.fips = state_pop_df.fips * 0.001
state_pop_df = (state_pop_df
                .astype({'fips':'int'})
                .drop(columns=['county'])
                .drop_duplicates()
                .reset_index(drop=True))
                
state_pop_df['state_id'] = state_pop_df.index + 1
state_pop_df = state_pop_df.reindex(columns=['state_id','state','fips','base2020'])

state_pop_df

    state_id                     state  fips  base2020
0          1                   Alabama     1   5024279
1          2                    Alaska     2    733391
2          3                   Arizona     4   7151502
3          4                  Arkansas     5   3011524
4          5                California     6  39538223
5          6                  Colorado     8   5773714
6          7               Connecticut     9   3605944
7          8                  Delaware    10    989948
8          9      District of Columbia    11    689545
9         10                   Florida    12  21538187
10        11                   Georgia    13  10711908
11        12                    Hawaii    15   1455271
12        13                     Idaho    16   1839106
13        14                  Illinois    17  12812508
14        15                   Indiana    18   6785528
15        16                      Iowa    19   3190369
16        17                    Kansas    20   2937880
17        18                  Kentucky    21   4505836
18        19                 Louisiana    22   4657757
19        20                     Maine    23   1362359
20        21                  Maryland    24   6177224
21        22             Massachusetts    25   7029917
22        23                  Michigan    26  10077331
23        24                 Minnesota    27   5706494
24        25               Mississippi    28   2961279
25        26                  Missouri    29   6154913
26        27                   Montana    30   1084225
27        28                  Nebraska    31   1961504
28        29                    Nevada    32   3104614
29        30             New Hampshire    33   1377529
30        31                New Jersey    34   9288994
31        32                New Mexico    35   2117522
32        33                  New York    36  20201249
33        34            North Carolina    37  10439388
34        35              North Dakota    38    779094
35        36                      Ohio    39  11799448
36        37                  Oklahoma    40   3959353
37        38                    Oregon    41   4237256
38        39              Pennsylvania    42  13002700
39        40              Rhode Island    44   1097379
40        41            South Carolina    45   5118425
41        42              South Dakota    46    886667
42        43                 Tennessee    47   6910840
43        44                     Texas    48  29145505
44        45                      Utah    49   3271616
45        46                   Vermont    50    643077
46        47                  Virginia    51   8631393
47        48                Washington    53   7705281
48        49             West Virginia    54   1793716
49        50                 Wisconsin    55   5893718
50        51                   Wyoming    56    576851
51        52               Puerto Rico    72   3159343
52        53            American Samoa    60     49710
53        54                      Guam    66    153836
54        55            Virgin Islands    69     87146
55        56  Northern Mariana Islands    69     47329

In [47]:
######
state_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state_id  56 non-null     int64
 1   state     56 non-null     object
 2   fips      56 non-null     int64
 3   base2020  56 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.9+ KB

In [48]:
# print State CSV
if switch:
    state_pop_df.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/star_schema_files/dimState.csv', index=False)
    print('file created')

file created

County ID prep

In [49]:
# Separate county data

# replace_county_labels = '|'.join([' County',' county', ' Municipality', 'Municipio',' Parish'])

# county_pop_df = df_mainland.query('STNAME.astype("str") != CTYNAME.astype("str")').copy()
# county_pop_df = (county_pop_df[['STNAME','CTYNAME','ESTIMATESBASE2020']]
#                  .rename(columns={'STNAME':'state', 'CTYNAME':'county','ESTIMATESBASE2020':'base2020'})
#                  .astype({'state':'category','county':'category'}))

# county_pop_df

county_pop_df = full_fips_df.query('county != state').copy()
county_pop_df = county_pop_df.reset_index(drop=True)
print(len(county_pop_df))

3238

In [50]:

# county_pop_df['county_id'] = county_pop_df.index + 1
# county_pop_df['state_id'] = (county_pop_df.fips * 0.001).astype('int')
# county_pop_df = county_pop_df.reindex(columns=['county_id','county','state_id','state','fips','base2020'])

# county_pop_df.head()

In [51]:
######
county_pop_df.tail(60)

,state,county,base2020,fips
3178,Puerto Rico,Isabela Municipio,40208,72071
3179,Puerto Rico,Jayuya Municipio,13711,72073
3180,Puerto Rico,Juana Díaz Municipio,44312,72075
3181,Puerto Rico,Juncos Municipio,38165,72077
3182,Puerto Rico,Lajas Municipio,21677,72079
3183,Puerto Rico,Lares Municipio,23723,72081
3184,Puerto Rico,Las Marías Municipio,7730,72083
3185,Puerto Rico,Las Piedras Municipio,37043,72085
3186,Puerto Rico,Loíza Municipio,24154,72087
3187,Puerto Rico,Luquillo Municipio,17495,72089
3188,Puerto Rico,Manatí Municipio,36806,72091
3189,Puerto Rico,Maricao Municipio,5388,72093
3190,Puerto Rico,Maunabo Municipio,10228,72095
3191,Puerto Rico,Mayagüez Municipio,70259,72097
3192,Puerto Rico,Moca Municipio,34597,72099
3193,Puerto Rico,Morovis Municipio,30340,72101
3194,Puerto Rico,Naguabo Municipio,25858,72103
3195,Puerto Rico,Naranjito Municipio,27159,72105
3196,Puerto Rico,Orocovis Municipio,20038,72107
3197,Puerto Rico,Patillas Municipio,16035,72109
3198,Puerto Rico,Peñuelas Municipio,18827,72111
3199,Puerto Rico,Ponce Municipio,128858,72113
3200,Puerto Rico,Quebradillas Municipio,22732,72115
3201,Puerto Rico,Rincón Municipio,13561,72117
3202,Puerto Rico,Río Grande Municipio,47762,72119
3203,Puerto Rico,Sabana Grande Municipio,21455,72121
3204,Puerto Rico,Salinas Municipio,26945,72123
3205,Puerto Rico,San Germán Municipio,29796,72125
3206,Puerto Rico,San Juan Municipio,312975,72127
3207,Puerto Rico,San Lorenzo Municipio,35667,72129
3208,Puerto Rico,San Sebastián Municipio,34970,72131
3209,Puerto Rico,Santa Isabel Municipio,21126,72133
3210,Puerto Rico,Toa Alta Municipio,72215,72135
3211,Puerto Rico,Toa Baja Municipio,73113,72137
3212,Puerto Rico,Trujillo Alto Municipio,62969,72139
3213,Puerto Rico,Utuado Municipio,27014,72141
3214,Puerto Rico,Vega Alta Municipio,35863,72143
3215,Puerto Rico,Vega Baja Municipio,49342,72145
3216,Puerto Rico,Vieques Municipio,8332,72147
3217,Puerto Rico,Villalba Municipio,21082,72149
3218,Puerto Rico,Yabucoa Municipio,31916,72151
3219,Puerto Rico,Yauco Municipio,32888,72153
3220,American Samoa,Eastern District,17059,60010
3221,American Samoa,Manu'a District,832,60020
3222,American Samoa,Rose Atoll (Rose Island),0,60030
3223,American Samoa,Swain's Island,0,60040
3224,American Samoa,Western District,31819,60050
3225,Virgin Islands,St. Croix Island,41004,78010
3226,Virgin Islands,St. John Island,3881,78020
3227,Virgin Islands,St. Thomas Island,42261,78030
3228,Northern Mariana Islands,Northern Islands Municipality,7,69085
3229,Northern Mariana Islands,Rota Municipality,1893,69100
3230,Northern Mariana Islands,Saipan Municipality,43385,69110
3231,Northern Mariana Islands,Tinian Municipality,2044,69120
3232,Missouri,Joplin Area,0,37592
3233,Missouri,Kansas City Area,0,3800
3234,New York,New York City,0,51000
3235,Alaska,Valdez-Cordova Census Area,9719,2261
3236,Alaska,Bristol Bay plus Lake and Peninsula,0,2997
3237,Alaska,Yakutat plus Hoonah-Angoon,0,2998

In [52]:
#####
# pr_county_df = df_pr.query('STNAME.astype("str") != CNTYNAME.astype("str")').copy()
# pr_county_df = pr_county_df[['STNAME','CNTYNAME','POPESTIMATE2020']].rename(columns={'STNAME':'state', 'CNTYNAME':'county','POPESTIMATE2020':'base2020'})
# pr_county_df.county = pr_county_df.county.str.replace(replace_county_labels,'',regex=True)
# # pr_county_df.county = (pr_county_df.county.str.replace('á','a')
# #                        .str.replace('é','e')
# #                        .str.replace('í','i')
# #                        .str.replace('ó','o')
# #                        .str.replace('ü','u')
# #                        .str.replace('ñ','n'))
# # pr_county_df

In [53]:
####
# full_fips_df.region = full_fips_df.region.str.replace(replace_county_labels, '',regex=True)
# full_fips_df['2020'] = full_fips_df['2020'].replace(',','', regex=True)

# df_island_counties = full_fips_df.loc[full_fips_df.region.isin(list_of_island_counties)]
# df_island_counties = (df_island_counties[['region','2020']]
#                       .rename(columns={'region':'county','2020':'base2020'})
#                       .astype({'base2020':'int'}))
# df_island_counties['state'] = 'Northern Mariana Islands'
# df_island_counties.state[:3] = 'Virgin Islands'
# df_island_counties

In [54]:
####
# county_pop_df = pd.concat([county_pop_df,pr_county_df,df_island_counties],ignore_index=True)
county_pop_df.county = (county_pop_df.county.str.replace('á','a')
                       .str.replace('é','e')
                       .str.replace('í','i')
                       .str.replace('ó','o')
                       .str.replace('ü','u')
                       .str.replace('ñ','n'))

# # single cases

In [55]:
# check for fips of NYC counties
# full_fips_df.query('state == "New York"')

full_fips_df.loc[full_fips_df.state.isin(["New York"]) & full_fips_df.county.isin(['New York County', 'Kings County', 'Queens County', 'Bronx County', 'Richmond County'])]

         state           county  base2020   fips
1864  New York     Bronx County   1472654  36005
1885  New York     Kings County   2736074  36047
1892  New York  New York County   1694251  36061
1902  New York    Queens County   2405464  36081
1904  New York  Richmond County    495747  36085

In [56]:
#####
full_fips_df.query('fips == 36161')

Empty DataFrame
Columns: [state, county, base2020, fips]
Index: []

In [57]:
#####
county_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3238 entries, 0 to 3237
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     3238 non-null   object
 1   county    3238 non-null   object
 2   base2020  3238 non-null   int64
 3   fips      3238 non-null   int64
dtypes: int64(2), object(2)
memory usage: 101.3+ KB

In [58]:
# checking Alaska counties to match fact table
alaska_fips = all_counties_df.query('state == "Alaska"').copy()
alaska_fips = alaska_fips[['county','fips']].drop_duplicates()
alaska_fips

                                     county  fips
1364                              Anchorage  2020
2747           Fairbanks North Star Borough  2090
3226              Ketchikan Gateway Borough  2130
3774                Kenai Peninsula Borough  2122
8280                Juneau City and Borough  2110
8283              Matanuska-Susitna Borough  2170
26170                               Unknown     0
26171             Yukon-Koyukuk Census Area  2290
28467       Southeast Fairbanks Census Area  2240
35667                    Petersburg Borough  2195
38150                    Bethel Census Area  2050
48500     Prince of Wales-Hyder Census Area  2198
59239                      Nome Census Area  2180
61956                 Kodiak Island Borough  2150
89750                Sitka City and Borough  2220
121367           Valdez-Cordova Census Area  2261
160341  Bristol Bay plus Lake and Peninsula  2997
160349             Northwest Arctic Borough  2188
184670                  North Slope Borough  2185
193850               Dillingham Census Area  2070
206145           Aleutians West Census Area  2016
218508            Wrangell City and Borough  2275
221581               Aleutians East Borough  2013
221588                       Haines Borough  2100
271423                       Denali Borough  2068
296617                 Kusilvak Census Area  2158
363537           Yakutat plus Hoonah-Angoon  2998
634972                 Skagway Municipality  2230

In [59]:
# # Fixing specific data points (defunct; use data blending in tableau)

specific_case_tuples = [('District of Columbia', 'District of Columbia', get_state_population('District of Columbia'), 11001)]


specific_case_tuples

[('District of Columbia', 'District of Columbia', 689545, 11001)]

In [60]:
######
# Kansas_City_agg = aggregate_populations(['Missouri'], ['Cass', 'Clay', 'Jackson', 'Platte'])
# Kansas_City_pop = 508090
# KCagg_non_urban_Population = Kansas_City_agg - Kansas_City_pop
# test_switch =county_pop_df.query('state == "Missouri"').copy()

# test_switch.loc[test_switch.county.isin(['Cass', 'Clay', 'Jackson', 'Platte']),'base2020'] = KCagg_non_urban_Population

# print(test_switch.loc[test_switch.county.isin(['Cass', 'Clay', 'Jackson', 'Platte'])],
#       '',
#       county_pop_df.loc[(county_pop_df.state == 'Missouri') & (county_pop_df.county.isin(['Cass', 'Clay', 'Jackson', 'Platte']))],
#       sep='\n')

#  use this for NYC?

In [61]:
#####
# Joplin_pop = 51762
# Joplin_county_agg = aggregate_populations(['Missouri'], ['Newton','Jasper'])

# print(f'County agg: {Joplin_county_agg}',
#       f'Joplin urban population: {Joplin_pop}',
#       f'County agg non urban population: {Joplin_county_agg-Joplin_pop}',
#       f'Average of nonurban county pop: {(Joplin_county_agg-Joplin_pop)/2}',
#       f'Average of urban county pop: {Joplin_pop/2}',
#       sep='\n')

# we can replace the individual counties wth the county agg non urban population
# or just don't worry about it!

In [62]:
####
# Newton_non= np.array([831,419,2050,12590,2230,40,47,103,620,943,204,164,66,300,356,107,623,125,166,98,286,200,]).sum()
# Jasper_non = np.array([544,193,8143,1855,15522,1495,906,134,228,2558,318,91,1406,72,1301,766,103,101,287,2159,227]).sum()

# nonJoplinpop = Newton_non + Jasper_non

# Jasper_pop = aggregate_populations(['Missouri'], ['Jasper'])
# Newton_pop = aggregate_populations(['Missouri'], ['Newton'])

# print(f'Jasper Co: {Jasper_pop}',
#       f'Jasper non Joplin: {Jasper_non}',
#       f'Japer urban?: {Jasper_pop - Jasper_non}',
#       f'Newton Co: {Newton_pop}',
#       f'Newton nonJoplin: {Newton_non}',
#       f'Newton urban?: {Newton_pop - Newton_non}',
#       f'Joplin pop: {Joplin_pop}',
#       sep='\n')

In [63]:
# #  add MI cities as counties (defunct)
# specific_case_tuples.extend([('Missouri','Kansas City', 508090, 38000),
#                          ('Missouri','Joplin',51762, 37592)])

# specific_case_tuples

In [64]:
# # add special case tuples to county data (defunct)
specific_case_tuples = pd.DataFrame(specific_case_tuples,columns=['state','county','base2020','fips'])
print(specific_case_tuples.info())

county_pop_df = pd.concat([county_pop_df,specific_case_tuples], ignore_index=True)

county_pop_df.tail(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   state     1 non-null      object
 1   county    1 non-null      object
 2   base2020  1 non-null      int64
 3   fips      1 non-null      int64
dtypes: int64(2), object(2)
memory usage: 160.0+ bytes
None

,state,county,base2020,fips
3219,Puerto Rico,Yauco Municipio,32888,72153
3220,American Samoa,Eastern District,17059,60010
3221,American Samoa,Manu'a District,832,60020
3222,American Samoa,Rose Atoll (Rose Island),0,60030
3223,American Samoa,Swain's Island,0,60040
3224,American Samoa,Western District,31819,60050
3225,Virgin Islands,St. Croix Island,41004,78010
3226,Virgin Islands,St. John Island,3881,78020
3227,Virgin Islands,St. Thomas Island,42261,78030
3228,Northern Mariana Islands,Northern Islands Municipality,7,69085
3229,Northern Mariana Islands,Rota Municipality,1893,69100
3230,Northern Mariana Islands,Saipan Municipality,43385,69110
3231,Northern Mariana Islands,Tinian Municipality,2044,69120
3232,Missouri,Joplin Area,0,37592
3233,Missouri,Kansas City Area,0,3800
3234,New York,New York City,0,51000
3235,Alaska,Valdez-Cordova Census Area,9719,2261
3236,Alaska,Bristol Bay plus Lake and Peninsula,0,2997
3237,Alaska,Yakutat plus Hoonah-Angoon,0,2998
3238,District of Columbia,District of Columbia,689545,11001

In [65]:
# Merge county df and state df to creat state_id (check here for bugs)
county_pop_df = pd.merge(county_pop_df,state_pop_df[['state_id','state']],on='state', validate='many_to_one')
county_pop_df = county_pop_df.reindex(columns=['county','state_id','state','fips','base2020'])
county_pop_df

,county,state_id,state,fips,base2020
0,Autauga County,1,Alabama,1001,58805
1,Baldwin County,1,Alabama,1003,231767
2,Barbour County,1,Alabama,1005,25223
3,Bibb County,1,Alabama,1007,22293
4,Blount County,1,Alabama,1009,59134
...,...,...,...,...,...
3234,Northern Islands Municipality,56,Northern Mariana Islands,69085,7
3235,Rota Municipality,56,Northern Mariana Islands,69100,1893
3236,Saipan Municipality,56,Northern Mariana Islands,69110,43385
3237,Tinian Municipality,56,Northern Mariana Islands,69120,2044
3238,District of Columbia,9,District of Columbia,11001,689545

In [66]:
unknown_df = pd.DataFrame(null_states, columns=['state'])
unknown_df['county'] = 'Unknown'

unknown_df = pd.merge(left=unknown_df,right=state_pop_df,on='state')
unknown_df = unknown_df.sort_values('state_id')

In [67]:
# This is where we fixed the Guam bug
county_pop_df = pd.concat([county_pop_df,unknown_df],ignore_index=True)

county_pop_df.county = np.where(county_pop_df.state.isin(['Guam','American Samoa']), county_pop_df.state, county_pop_df.county)
county_pop_df.tail(60)

,county,state_id,state,fips,base2020
3234,Northern Islands Municipality,56,Northern Mariana Islands,69085,7
3235,Rota Municipality,56,Northern Mariana Islands,69100,1893
3236,Saipan Municipality,56,Northern Mariana Islands,69110,43385
3237,Tinian Municipality,56,Northern Mariana Islands,69120,2044
3238,District of Columbia,9,District of Columbia,11001,689545
3239,Unknown,1,Alabama,1,5024279
3240,Unknown,2,Alaska,2,733391
3241,Unknown,3,Arizona,4,7151502
3242,Unknown,4,Arkansas,5,3011524
3243,Unknown,5,California,6,39538223
3244,Unknown,6,Colorado,8,5773714
3245,Unknown,7,Connecticut,9,3605944
3246,Unknown,8,Delaware,10,989948
3247,Unknown,10,Florida,12,21538187
3248,Unknown,11,Georgia,13,10711908
3249,Unknown,12,Hawaii,15,1455271
3250,Unknown,13,Idaho,16,1839106
3251,Unknown,14,Illinois,17,12812508
3252,Unknown,15,Indiana,18,6785528
3253,Unknown,16,Iowa,19,3190369
3254,Unknown,17,Kansas,20,2937880
3255,Unknown,18,Kentucky,21,4505836
3256,Unknown,19,Louisiana,22,4657757
3257,Unknown,20,Maine,23,1362359
3258,Unknown,21,Maryland,24,6177224
3259,Unknown,22,Massachusetts,25,7029917
3260,Unknown,23,Michigan,26,10077331
3261,Unknown,24,Minnesota,27,5706494
3262,Unknown,25,Mississippi,28,2961279
3263,Unknown,26,Missouri,29,6154913
3264,Unknown,27,Montana,30,1084225
3265,Unknown,28,Nebraska,31,1961504
3266,Unknown,29,Nevada,32,3104614
3267,Unknown,30,New Hampshire,33,1377529
3268,Unknown,31,New Jersey,34,9288994
3269,Unknown,32,New Mexico,35,2117522
3270,Unknown,33,New York,36,20201249
3271,Unknown,34,North Carolina,37,10439388
3272,Unknown,35,North Dakota,38,779094
3273,Unknown,36,Ohio,39,11799448
3274,Unknown,37,Oklahoma,40,3959353
3275,Unknown,38,Oregon,41,4237256
3276,Unknown,39,Pennsylvania,42,13002700
3277,Unknown,40,Rhode Island,44,1097379
3278,Unknown,41,South Carolina,45,5118425
3279,Unknown,42,South Dakota,46,886667
3280,Unknown,43,Tennessee,47,6910840
3281,Unknown,44,Texas,48,29145505
3282,Unknown,45,Utah,49,3271616
3283,Unknown,46,Vermont,50,643077
3284,Unknown,47,Virginia,51,8631393
3285,Unknown,48,Washington,53,7705281
3286,Unknown,49,West Virginia,54,1793716
3287,Unknown,50,Wisconsin,55,5893718
3288,Unknown,51,Wyoming,56,576851
3289,Unknown,52,Puerto Rico,72,3159343
3290,American Samoa,53,American Samoa,60,49710
3291,Guam,54,Guam,66,153836
3292,Unknown,55,Virgin Islands,69,87146
3293,Unknown,56,Northern Mariana Islands,69,47329

In [68]:
# build county ID column
county_pop_df['county_id'] = county_pop_df.index + 1
# county_pop_df['state_id'] = (county_pop_df.fips * 0.001).astype('int')

In [69]:
######
county_pop_df.tail(60)

,county,state_id,state,fips,base2020,county_id
3234,Northern Islands Municipality,56,Northern Mariana Islands,69085,7,3235
3235,Rota Municipality,56,Northern Mariana Islands,69100,1893,3236
3236,Saipan Municipality,56,Northern Mariana Islands,69110,43385,3237
3237,Tinian Municipality,56,Northern Mariana Islands,69120,2044,3238
3238,District of Columbia,9,District of Columbia,11001,689545,3239
3239,Unknown,1,Alabama,1,5024279,3240
3240,Unknown,2,Alaska,2,733391,3241
3241,Unknown,3,Arizona,4,7151502,3242
3242,Unknown,4,Arkansas,5,3011524,3243
3243,Unknown,5,California,6,39538223,3244
3244,Unknown,6,Colorado,8,5773714,3245
3245,Unknown,7,Connecticut,9,3605944,3246
3246,Unknown,8,Delaware,10,989948,3247
3247,Unknown,10,Florida,12,21538187,3248
3248,Unknown,11,Georgia,13,10711908,3249
3249,Unknown,12,Hawaii,15,1455271,3250
3250,Unknown,13,Idaho,16,1839106,3251
3251,Unknown,14,Illinois,17,12812508,3252
3252,Unknown,15,Indiana,18,6785528,3253
3253,Unknown,16,Iowa,19,3190369,3254
3254,Unknown,17,Kansas,20,2937880,3255
3255,Unknown,18,Kentucky,21,4505836,3256
3256,Unknown,19,Louisiana,22,4657757,3257
3257,Unknown,20,Maine,23,1362359,3258
3258,Unknown,21,Maryland,24,6177224,3259
3259,Unknown,22,Massachusetts,25,7029917,3260
3260,Unknown,23,Michigan,26,10077331,3261
3261,Unknown,24,Minnesota,27,5706494,3262
3262,Unknown,25,Mississippi,28,2961279,3263
3263,Unknown,26,Missouri,29,6154913,3264
3264,Unknown,27,Montana,30,1084225,3265
3265,Unknown,28,Nebraska,31,1961504,3266
3266,Unknown,29,Nevada,32,3104614,3267
3267,Unknown,30,New Hampshire,33,1377529,3268
3268,Unknown,31,New Jersey,34,9288994,3269
3269,Unknown,32,New Mexico,35,2117522,3270
3270,Unknown,33,New York,36,20201249,3271
3271,Unknown,34,North Carolina,37,10439388,3272
3272,Unknown,35,North Dakota,38,779094,3273
3273,Unknown,36,Ohio,39,11799448,3274
3274,Unknown,37,Oklahoma,40,3959353,3275
3275,Unknown,38,Oregon,41,4237256,3276
3276,Unknown,39,Pennsylvania,42,13002700,3277
3277,Unknown,40,Rhode Island,44,1097379,3278
3278,Unknown,41,South Carolina,45,5118425,3279
3279,Unknown,42,South Dakota,46,886667,3280
3280,Unknown,43,Tennessee,47,6910840,3281
3281,Unknown,44,Texas,48,29145505,3282
3282,Unknown,45,Utah,49,3271616,3283
3283,Unknown,46,Vermont,50,643077,3284
3284,Unknown,47,Virginia,51,8631393,3285
3285,Unknown,48,Washington,53,7705281,3286
3286,Unknown,49,West Virginia,54,1793716,3287
3287,Unknown,50,Wisconsin,55,5893718,3288
3288,Unknown,51,Wyoming,56,576851,3289
3289,Unknown,52,Puerto Rico,72,3159343,3290
3290,American Samoa,53,American Samoa,60,49710,3291
3291,Guam,54,Guam,66,153836,3292
3292,Unknown,55,Virgin Islands,69,87146,3293
3293,Unknown,56,Northern Mariana Islands,69,47329,3294

In [70]:
county_pop_df.query('county == "Kansas City Area"')

                county  state_id     state  fips  base2020  county_id
1602  Kansas City Area        26  Missouri  3800         0       1603

In [71]:
######
# map state_ids to special cases

# Why Missouri?????
# county_pop_df.at[3232,'county_id'] = 0


# st_id_mapping = {'Unknown':0, 'New York':33, 'Missouri':26} 

# county_pop_df.state_id = (county_pop_df.state
#                           .map(st_id_mapping)
#                           .fillna(county_pop_df.state_id)
#                           .astype('int')) # why?

In [72]:
####
county_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   county     3294 non-null   object
 1   state_id   3294 non-null   int64
 2   state      3294 non-null   object
 3   fips       3294 non-null   int64
 4   base2020   3294 non-null   int64
 5   county_id  3294 non-null   int64
dtypes: int64(4), object(2)
memory usage: 154.5+ KB

In [73]:
# sort ids to build county_id
county_pop_df = county_pop_df.sort_values('county_id').reset_index(drop=True)
county_pop_df['county_id'] = county_pop_df.index

county_pop_df.tail(15)

,county,state_id,state,fips,base2020,county_id
3279,Unknown,42,South Dakota,46,886667,3279
3280,Unknown,43,Tennessee,47,6910840,3280
3281,Unknown,44,Texas,48,29145505,3281
3282,Unknown,45,Utah,49,3271616,3282
3283,Unknown,46,Vermont,50,643077,3283
3284,Unknown,47,Virginia,51,8631393,3284
3285,Unknown,48,Washington,53,7705281,3285
3286,Unknown,49,West Virginia,54,1793716,3286
3287,Unknown,50,Wisconsin,55,5893718,3287
3288,Unknown,51,Wyoming,56,576851,3288
3289,Unknown,52,Puerto Rico,72,3159343,3289
3290,American Samoa,53,American Samoa,60,49710,3290
3291,Guam,54,Guam,66,153836,3291
3292,Unknown,55,Virgin Islands,69,87146,3292
3293,Unknown,56,Northern Mariana Islands,69,47329,3293

In [74]:
#####
county_pop_df.head()

           county  state_id    state  fips  base2020  county_id
0  Autauga County         1  Alabama  1001     58805          0
1  Baldwin County         1  Alabama  1003    231767          1
2  Barbour County         1  Alabama  1005     25223          2
3     Bibb County         1  Alabama  1007     22293          3
4   Blount County         1  Alabama  1009     59134          4

In [75]:
#####
county_pop_df.query('county == "Unknown"')

       county  state_id                     state  fips  base2020  county_id
3239  Unknown         1                   Alabama     1   5024279       3239
3240  Unknown         2                    Alaska     2    733391       3240
3241  Unknown         3                   Arizona     4   7151502       3241
3242  Unknown         4                  Arkansas     5   3011524       3242
3243  Unknown         5                California     6  39538223       3243
3244  Unknown         6                  Colorado     8   5773714       3244
3245  Unknown         7               Connecticut     9   3605944       3245
3246  Unknown         8                  Delaware    10    989948       3246
3247  Unknown        10                   Florida    12  21538187       3247
3248  Unknown        11                   Georgia    13  10711908       3248
3249  Unknown        12                    Hawaii    15   1455271       3249
3250  Unknown        13                     Idaho    16   1839106       3250
3251  Unknown        14                  Illinois    17  12812508       3251
3252  Unknown        15                   Indiana    18   6785528       3252
3253  Unknown        16                      Iowa    19   3190369       3253
3254  Unknown        17                    Kansas    20   2937880       3254
3255  Unknown        18                  Kentucky    21   4505836       3255
3256  Unknown        19                 Louisiana    22   4657757       3256
3257  Unknown        20                     Maine    23   1362359       3257
3258  Unknown        21                  Maryland    24   6177224       3258
3259  Unknown        22             Massachusetts    25   7029917       3259
3260  Unknown        23                  Michigan    26  10077331       3260
3261  Unknown        24                 Minnesota    27   5706494       3261
3262  Unknown        25               Mississippi    28   2961279       3262
3263  Unknown        26                  Missouri    29   6154913       3263
3264  Unknown        27                   Montana    30   1084225       3264
3265  Unknown        28                  Nebraska    31   1961504       3265
3266  Unknown        29                    Nevada    32   3104614       3266
3267  Unknown        30             New Hampshire    33   1377529       3267
3268  Unknown        31                New Jersey    34   9288994       3268
3269  Unknown        32                New Mexico    35   2117522       3269
3270  Unknown        33                  New York    36  20201249       3270
3271  Unknown        34            North Carolina    37  10439388       3271
3272  Unknown        35              North Dakota    38    779094       3272
3273  Unknown        36                      Ohio    39  11799448       3273
3274  Unknown        37                  Oklahoma    40   3959353       3274
3275  Unknown        38                    Oregon    41   4237256       3275
3276  Unknown        39              Pennsylvania    42  13002700       3276
3277  Unknown        40              Rhode Island    44   1097379       3277
3278  Unknown        41            South Carolina    45   5118425       3278
3279  Unknown        42              South Dakota    46    886667       3279
3280  Unknown        43                 Tennessee    47   6910840       3280
3281  Unknown        44                     Texas    48  29145505       3281
3282  Unknown        45                      Utah    49   3271616       3282
3283  Unknown        46                   Vermont    50    643077       3283
3284  Unknown        47                  Virginia    51   8631393       3284
3285  Unknown        48                Washington    53   7705281       3285
3286  Unknown        49             West Virginia    54   1793716       3286
3287  Unknown        50                 Wisconsin    55   5893718       3287
3288  Unknown        51                   Wyoming    56    576851       3288
3289  Unknown        52               Puerto Rico    72   3159343       3289
3292  Unknown        55            Virgin Islands    69     87146       3292
3293  Unknown        56  Northern Mariana Islands    69     47329       3293

In [76]:
#####
# diamond_princess = 3711
# grand_princess =  3533

all_counties_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3525161 entries, 0 to 3525160
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    datetime64[ns]
 1   state   object
 2   county  object
 3   fips    int64
 4   cases   int64
 5   deaths  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 161.4+ MB

In [77]:
# finally, we clean the 'Pending County Assignment'
all_counties_df = all_counties_df.drop(all_counties_df[all_counties_df.county=='Pending County Assignment'].index)

all_counties_df[all_counties_df.county=='Pending County Assignment']

Empty DataFrame
Columns: [date, state, county, fips, cases, deaths]
Index: []

In [78]:
# fill unknown county with state name (HERE!!!!)
all_counties_df.county = np.where(all_counties_df.state.isin(['Guam','American Samoa']), all_counties_df.state, all_counties_df.county)

In [79]:
# This has been accomplihed in line ?
# # maps fips codes to places missing fips data
# # all_counties_df.fips = np.where(all_counties_df.state == 'Guam', 66, all_counties_df.fips)
# # all_counties_df.fips = np.where(all_counties_df.state == 'American Samoa', 60, all_counties_df.fips)

# fips_mapping = {'Unknown':0, 'Joplin Area': 37592, 'Kansas City Area':38000, 'New York City':51000}

# all_counties_df.fips = (all_counties_df.county
#                         .map(fips_mapping)
#                         .fillna(all_counties_df.fips)
#                         .astype('int'))

# # move this to the top

In [80]:
# # Check for NYC rows
# all_counties_df.query('county == "New York City"')

In [81]:
# # check for Nyc county cells
# all_counties_df.query('county == "Bronx"')

In [82]:
#####
# test_eqivalent_series_union = pd.Series(np.union1d(all_counties_df.county, county_pop_df.county)).copy()
# test_eqivalent_series_intersect = pd.Series(np.intersect1d(all_counties_df.county, county_pop_df.county)).copy()
# leftovers = test_eqivalent_series_union[~test_eqivalent_series_union.isin(test_eqivalent_series_intersect)].reset_index()
# leftovers

all_counties_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3525071 entries, 0 to 3525160
Data columns (total 6 columns):
 #   Column  Dtype
---  ------  -----
 0   date    datetime64[ns]
 1   state   object
 2   county  object
 3   fips    int64
 4   cases   int64
 5   deaths  int64
dtypes: datetime64[ns](1), int64(3), object(2)
memory usage: 188.3+ MB

Make County Dict

In [83]:
######
# counties = list(county_pop_df.county.unique())
# counties.sort()
# unknown = counties.index('Unknown')
# unknown = counties.pop(unknown)
# counties.insert(0, unknown)
# counties

In [84]:
# make dict
# county_id_dict = dict(zip(counties, np.arange(0, len(counties))))

In [85]:
#####
# county_id_dict['District of Columbia']

In [86]:
#####
county_pop_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3294 entries, 0 to 3293
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   county     3294 non-null   object
 1   state_id   3294 non-null   int64
 2   state      3294 non-null   object
 3   fips       3294 non-null   int64
 4   base2020   3294 non-null   int64
 5   county_id  3294 non-null   int64
dtypes: int64(4), object(2)
memory usage: 154.5+ KB

In [87]:
#####
# county_pop_df['county_id'] = county_pop_df.county.apply(lambda x: county_id_dict[x])
# county_pop_df['county_id'] = county_pop_df.index + 1
# county_pop_df['state_id'] = county_pop_df.state.apply(lambda x: state_id_dict[x])
# county_pop_df['fips'] = county_pop_df.county.apply(lambda x: county_fips[x])

In [88]:
######
county_pop_df.query('county == "District of Columbia"')

,county,state_id,state,fips,base2020,county_id
3238,District of Columbia,9,District of Columbia,11001,689545,3238

In [89]:
########
# county_id_dict2 = {x:y for x,y in zip(county_pop_df.county, county_pop_df.county_id)}
# print(len(county_id_dict2))
# county_id_dict2

In [90]:
######
county_pop_df.loc[county_pop_df.state == 'American Samoa']

              county  state_id           state   fips  base2020  county_id
3226  American Samoa        53  American Samoa  60010     17059       3226
3227  American Samoa        53  American Samoa  60020       832       3227
3228  American Samoa        53  American Samoa  60030         0       3228
3229  American Samoa        53  American Samoa  60040         0       3229
3230  American Samoa        53  American Samoa  60050     31819       3230
3290  American Samoa        53  American Samoa     60     49710       3290

In [91]:
######
print(county_pop_df.head(),
      '',
      county_pop_df.tail(),
      sep='\n')

           county  state_id    state  fips  base2020  county_id
0  Autauga County         1  Alabama  1001     58805          0
1  Baldwin County         1  Alabama  1003    231767          1
2  Barbour County         1  Alabama  1005     25223          2
3     Bibb County         1  Alabama  1007     22293          3
4   Blount County         1  Alabama  1009     59134          4

              county  state_id                     state  fips  base2020  \
3289         Unknown        52               Puerto Rico    72   3159343
3290  American Samoa        53            American Samoa    60     49710
3291            Guam        54                      Guam    66    153836
3292         Unknown        55            Virgin Islands    69     87146
3293         Unknown        56  Northern Mariana Islands    69     47329

      county_id
3289       3289
3290       3290
3291       3291
3292       3292
3293       3293

In [92]:
# remove extra language from counties, reset where appropriate
replace_county_labels = '|'.join([' County',' Municipality',' Island',' Municipio',' Parish'])
county_pop_df.county = county_pop_df.county.str.replace(replace_county_labels,'',regex=True, case=False)

county_pop_df.county.loc[county_pop_df.county == 'Dona Ana'] = 'Doña Ana'

county_pop_df.county.loc[county_pop_df.county == 'Skagway'] = 'Skagway Municipality'

county_pop_df.county.loc[county_pop_df.county == 'Kodiak Borough'] = 'Kodiak Island Borough'

county_pop_df.county.loc[(county_pop_df.county == 'Rock') & (county_pop_df.state == 'Illinois')] = 'Rock Island'

/var/folders/0l/761g3tyj37z09qmvp8fym23w0000gn/T/ipykernel_36232/67936573.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_pop_df.county.loc[county_pop_df.county == 'Dona Ana'] = 'Doña Ana'
/var/folders/0l/761g3tyj37z09qmvp8fym23w0000gn/T/ipykernel_36232/67936573.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_pop_df.county.loc[county_pop_df.county == 'Skagway'] = 'Skagway Municipality'
/var/folders/0l/761g3tyj37z09qmvp8fym23w0000gn/T/ipykernel_36232/67936573.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_pop_df.county.loc[county_pop_df.county == 'Kodiak Borough'] = 'Kodiak Island Borough'
/var/folders/0l/761g3tyj37z09qmvp8fym23w0000gn/T/ipykernel_36232/67936573.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  county_pop_df.county.loc[(county_pop_df.county == 'Rock') & (county_pop_df.state == 'Illinois')] = 'Rock Island'

In [93]:
######
county_pop_df.query('county == "Joplin Area"')

           county  state_id     state   fips  base2020  county_id
1601  Joplin Area        26  Missouri  37592         0       1601

In [97]:
# reset index for sql input

county_pop_df = county_pop_df.reindex(columns=['county_id','county','state_id','state','fips','base2020'])
county_pop_df

,county_id,county,state_id,state,fips,base2020
0,0,Autauga,1,Alabama,1001,58805
1,1,Baldwin,1,Alabama,1003,231767
2,2,Barbour,1,Alabama,1005,25223
3,3,Bibb,1,Alabama,1007,22293
4,4,Blount,1,Alabama,1009,59134
...,...,...,...,...,...,...
3289,3289,Unknown,52,Puerto Rico,72,3159343
3290,3290,American Samoa,53,American Samoa,60,49710
3291,3291,Guam,54,Guam,66,153836
3292,3292,Unknown,55,Virgin Islands,69,87146
3293,3293,Unknown,56,Northern Mariana Islands,69,47329

In [98]:
# create county CSV
if switch:
    county_pop_df.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/star_schema_files/dimCounty.csv',index=False)
    print('file created')

file created

Create Date table

In [ ]:
# find unque dates
unique_dates = pd.Series(all_counties_df.date.unique())
unique_dates

In [ ]:
# create date df
date_table = pd.DataFrame(columns=['date_id', 'full_date','year','quarter','quarter_name','month','month_name','day','day_of_week','day_of_year'])

In [ ]:
# fill columns

date_table.date_id = unique_dates.index + 1
date_table.full_date = unique_dates
date_table.year = unique_dates.dt.year
date_table.quarter = unique_dates.dt.quarter
date_table.quarter_name = 'Q'+ unique_dates.dt.quarter.astype(str)
date_table.month = unique_dates.dt.month
date_table.month_name = unique_dates.dt.month_name()
date_table.day = unique_dates.dt.day
date_table.day_of_week = unique_dates.dt.day_of_week
date_table.day_of_year = unique_dates.dt.day_of_year

In [ ]:
####
date_table.head()

In [ ]:
####
date_table.info()

In [ ]:
####
date_table.info()

In [ ]:
####
all_counties_df.info()

In [ ]:
#####
# date_dict = {date_table.full_date:date_table.date_id}
# date_dict = dict(zip(date_table.full_date, np.arange(0,len(date_table.full_date))))

In [ ]:
#####
date_table.head(10)

In [ ]:
# create date CSV
if switch:
    date_table.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/star_schema_files/dimDate.csv', index=False)
    print('file created')

Fact table

In [ ]:
# all_counties_df = all_counties_df.drop(columns=['fips'])

# all_counties_df = all_counties_df.merge(county_pop_df[['state','county','fips']],on=['state','county'],how='left').astype({'fips':'int'})

In [ ]:
# aggregate Kansas city MI and Joplin MI

def city_aggregator(df,
                    state,
                    list_of_counties,
                    aggregated_region_name, 
                    fips=0):
    
    filtered_counties = df.loc[(df.state == f'{state}') & 
                               (df.county.isin(list_of_counties))]
    counties_aggregated = (filtered_counties
                           .groupby('date')
                           .sum())
    counties_aggregated['fips'] = fips
    counties_aggregated['county'] = aggregated_region_name
    counties_aggregated['state'] = state

    counties_aggregated = counties_aggregated.reset_index()
    df  = (pd.concat([df,
                      counties_aggregated],
                     ignore_index=True)
           .sort_values('date')
           .reset_index(drop=True))
    filtered_counties = df.loc[(df.state == f'{state}') & 
                               (df.county.isin(list_of_counties))]
    
    df = df.drop(filtered_counties.index)
    # print(df.loc[filtered_counties.index])
    return df

In [ ]:
all_counties_df = city_aggregator(all_counties_df,
                                  'Missouri',
                                  ['Jasper','Newton','Joplin'],
                                   'Joplin Area',
                                   fips=37592)

print(all_counties_df.query('county == "Joplin Area"').head(1),
      " ",
      all_counties_df.query('county == "Jasper" & state == "Missouri"').head(1),
      sep='\n')

In [ ]:
all_counties_df = city_aggregator(all_counties_df,
                                  'Missouri',
                                  ['Cass','Clay','Platte','Jackson','Kansas City'],
                                   'Kansas City Area',
                                   fips=38000)

print(all_counties_df.query('county == "Kansas City Area"').head(1),
      " ",
      all_counties_df.query('county == "Cass" & state == "Missouri"').head(1),
      sep='\n')

In [ ]:
all_counties_df = all_counties_df.drop(columns=['fips'])

all_counties_df = all_counties_df.merge(county_pop_df[['state','county','fips']],on=['state','county'],how='left')

In [ ]:
all_counties_df.query('county == "New York City"')

In [ ]:
# fips_mapping = {'Joplin Area': 37592, 'Kansas City Area':38000, 'New York City':51000, 'District of Columbia':11001}

# all_counties_df.fips = (all_counties_df.county
#                         .map(fips_mapping)
#                         .fillna(all_counties_df.fips)
#                         )

In [ ]:
all_counties_df.loc[all_counties_df.fips.isna()]

In [ ]:
all_counties_df.query('county == "Unknown"').sort_values(by='fips')

In [ ]:
# copy table from all counties
fact_table = all_counties_df.copy()

In [ ]:
####
all_counties_df.info()

In [ ]:
####
county_pop_df.info()

In [ ]:
fact_table.query('county == "Unknown"')

In [ ]:
county_pop_df.query('county == "Unknown"')

In [ ]:
fact_table.query('county == "Kansas City Area"')

In [ ]:
county_pop_df.query('county == "Kansas City Area"')

In [ ]:
# merge with fips table (look here for bugs)

# fact_table['date_id'] = fact_table.date.apply(lambda x: date_dict[x])
# fact_table['county_id'] = fact_table.county.apply(lambda x,y: county_id_dict[x] & )
# fact_table['state_id'] = fact_table.state.apply(lambda x: state_id_dict[x])

# fact_table = pd.merge(left=fact_table, right=county_pop_df[['fips','state_id','county_id']], on='fips')

# fact_table = fact_table.merge(left_on=fact_table,right_on=date_table[['full_date','date_id']], on=)

fact_table = (fact_table
              .merge(county_pop_df[['fips','state_id','county_id']],left_on='fips',right_on='fips', how='left')
              .merge(date_table[['full_date','date_id']],left_on='date',right_on='full_date')
              )

fact_table['case_id'] = fact_table.index + 1

In [ ]:
# fact_table = fact_table.astype({'state_id':'int', 'county_id':'int'})

fact_table.loc[fact_table.state_id.isnull()].county.unique()

In [ ]:
county_pop_df.query('county == "Kansas City Area"')

In [ ]:
fact_table.info()

In [ ]:
fact_table.query('county == "District of Columbia"')

In [ ]:
fact_table.loc[fact_table.county_id.isna()].county.unique()

In [ ]:
####
fact_table.head(60)

In [ ]:
####
fact_table.info()

In [ ]:
####
fact_table = fact_table.drop(columns=['date','full_date','state','county','fips'])
fact_table.info()

In [ ]:
# reindex columns for export
fact_table = fact_table.reindex(columns=['case_id','date_id','state_id','county_id','cases','deaths'])

In [ ]:
#####
fact_table.head(60)

In [ ]:
fact_table.info()

In [ ]:
# create fact CSV
if switch:
    fact_table.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/star_schema_files/factCases.csv', index=False)
    print('file created')

In [ ]:
####
fact_table.head()

In [ ]:
fact_table.query('county_id == 1601')

In [ ]:
####
fact_table.info()

In [ ]:
####
county_pop_df.query('state == county')

In [ ]:
# where to build the extra coulnms
fact_table =fact_table.sort_values(['state_id','county_id'])

mask = (fact_table['state_id'].shift() != fact_table['state_id']) | (fact_table['county_id'].shift() != fact_table['county_id'])

fact_table['new_cases'] = fact_table.cases.diff()
fact_table.loc[mask, 'new_cases'] = None

# fact_table.new_cases = fact_table.new_cases.fillna(0)
fact_table = fact_table.sort_values(['date_id','state_id','county_id'])
fact_table.head(60)

fact_table['cases_7_day_avg'] = fact_table.new_cases.rolling(7).sum() / 7
fact_table['infection_level'] = fact_table.new_cases.rolling(14).sum()

In [ ]:
# fact_table = fact_table.fillna(0)

In [ ]:
# if switch:
#     fact_table.to_csv('/Users/chriskimmons/My_Projects/NYT_COV/star_schema_files/factCasesfull.csv')

In [ ]:
# fact_table[3000000:3000010]

In [ ]:
# all_counties_df.info()

Testing

In [ ]:
#####
f = fact_table.loc[(fact_table.date_id == max(fact_table.date_id))]
f

In [ ]:
####
# fact_table.loc[(fact_table.date_id == max(fact_table.date_id)) & (fact_table.state_id == 49)].cases.sum()

In [ ]:
###
g = all_counties_df.query('date == "2023-03-23"')
g

In [ ]:
####
all_counties_df.query('date == "2023-03-23" & county == "Unknown"').cases.sum()

In [ ]:
#####
giant = pd.merge(f,g,on='cases',how='outer', )

In [ ]:
giant.head(60)

In [ ]:
f.query('state_id == 53')

In [ ]:
g.query('state == "American Samoa"')

In [ ]:
giant.query('county == "Unknown"')

In [ ]:
all_counties_df.loc[all_counties_df.fips.isna()]